.wrapHead {
    max-width: 950px;
    margin: 0 auto;
    .wrapPostInFull {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .linkToAllPost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
        margin-left: 20px;
        margin-right: 20px;

        .mySelfPosts {
            font-size: 22px;
            font-weight: 400;
            justify-content: space-between;
            line-height: 60px;
            font-family: "Heebo", sans-serif;
        }
        .LinkPost {
            color: #00a8cc;
            font-size: 16px;
            line-height: 23px;
            font-weight: 400;
            font-family: "Heebo", sans-serif;
            text-decoration: none;
        }
    }
    .titleWork {
        font-size: 22px;
        line-height: 60px;
        font-weight: 400;
        font-family: "Heebo", sans-serif;
        span {
            margin-left: 20px;
        }
    }
    footer {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
        margin: 100px 0 54px;
        font-family: "Heebo", sans-serif;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
    .wrapHead {
        .linkToAllPost {
            display: flex;
            justify-content: center;
            .LinkPost {
                display: none;
            }
            .mySelfPosts {
                text-align: center;
            }
        }
        .wrapPostInFull {
            :nth-child(1) {
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 320px) {
}
